<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin|Politico</title>
    <link rel="stylesheet" href="../css/add_party.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="Admin.html" class="button" id="profile">Profile</a>
            <a href="../index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="signup-form">
            <h1>Add a New Political Party</h1>
            <form action="">
                <input type="text" placeholder="Party name" required>
                <br>
                <label class="file-upload">
                    <input type="file" />
                    <i></i>Select logo image
                </label>
                <br>
                <input type="submit" value="ADD PARTY" id="signup">
            </form>

        </div>
    </div>
</body>

</html>
