<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin|Politico</title>
  <link rel="stylesheet" href="../css/Admin.css">
</head>

<body>
  <nav>
    <div class="nav-bar">
      <h1>Politico</h1>
      <a href="../index.html" class="button">Logout</a>
    </div>
  </nav>
  <div class="container">
    <a href="#" id="view_parties">View Political parties</a>
    <a href="add_party.html" id="new-party">Add New party</a>


    <div class="hide">
      <table class="table1">

        <tr>
          <th> LOGO</th>
          <th> Party Name</th>

          <th>Action</th>
        </tr>

        <tr>
          <td><img src="../Images/download.png" alt="logo" ;></td>
          <td>
            <h5> HIGA PARTY</h5>
          </td>
          <td class="action"><a href="edit_party.html"><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>
          </td>

        </tr>
        <tr>
          <td><img src="../Images/other logo.png" alt="logo"></td>
          <td>
            <h5> KORA PARTY</h5>
          </td>
          <td><a href="edit_party.html"><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>

          </td>

        </tr>

        <tr>
          <td><img src="../Images/pol logo.jpeg" alt="logo"></td>
          <td>
            <h5> DEMOCRATIC PARTY</h5>
          </td>


          <td><a href="edit_party.html"><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>

          </td>

        </tr>
      </table>

    </div>
    <hr>
    <a href="#view_offices" id="view_offices">View Government offices</a>
    <a href="offices.html" id="new-office">Add New office </a>
    <div class="hide">
      <table class="table1">

        <tr>
          <th> Offices</th>
          <th> Candidates/Party</th>
          <th>Action</th>
        </tr>

        <tr>
          <td>
            <h3>PRESIDENT</h3>
          </td>
          <td>
            <ul>
              <li><a href="politician.html">PRINCE MANZI / HIGA PARTY</a></li>
              <li><a href="politician.html">LEONARD RUGIRA / KORA PARTY </a></li>
              <li><a href="politician.html">JEANNE UWAMARIYA / DEMOCRATIC PARTY</a></li>
            </ul>
          </td>
          <td class="action"><a href=""><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>
          </td>

        </tr>
        <tr>
          <td>
            <h3>SENATE</h3>
          </td>
          <td>
            <ul>
              <li><a href="politician.html">CECILE KARANGWA / DEMOCRATIC PARTY</a></li>
              <li><a href="politician.html">CELINE MUKANKUSI / HIGA PARTY</a></li>
              <li><a href="politician.html">PIERRE BYUSA / KORA PARTY</a></li>
            </ul>
          </td>

          <td><a href=""><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>

          </td>

        </tr>

        <tr>
          <td>
            <h3>PARLIAMENT</h3>
          </td>
          <td>
            <ul>
              <li><a href="politician.html">MARC CYUSA / DEMOCRATIC PARTY</a></li>
              <li><a href="politician.html">SUZAN RIGHT / KORA PARTY</a></li>
              <li><a href="politician.html">PETER VROOM / HIGA PARTY</a></li>
            </ul>
          </td>
          <td><a href=""><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>

          </td>

        </tr>
      </table>

    </div>


  </div>

</body>

</html>
