<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin|Politico</title>
  <link rel="stylesheet" href="../css/Admin.css">
</head>

<body>
  <nav>
    <div class="nav-bar">
      <h1>Politico</h1>
      <a href="profile.html" class="button" id="profile">Profile</a>
      <a href="index.html" class="button">Logout</a>
    </div>
  </nav>
  <div class="container">
    <a href=".table1" id="view_parties">View Political parties</a>
    <a href="#" id="new-party">Add New party</a>
    <div class="hide">
      <table class="table1">

        <tr>
          <th> LOGO</th>
          <th> Party Name</th>
          <th>Action</th>
        </tr>

        <tr>
          <td><img src="../Images/download.png" alt="logo" ;></td>
          <td>
            <h5> HIGA PARTY</h5>
          </td>
          <td class="action"><a href=""><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>
          </td>

        </tr>
        <tr>
          <td><img src="../Images/other logo.png" alt="logo"></td>
          <td>
            <h5> KORA PARTY</h5>
          </td>
          <td><a href=""><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>

          </td>
        </tr>

        <tr>
          <td><img src="../Images/pol logo.jpeg" alt="logo"></td>
          <td>
            <h5> DEMOCRATIC PARTY</h5>
          </td>
          <td><a href=""><img src="../Images/edit.png" alt="edit" id="edit"></a>
            <a href=""><img src="../Images/icons8-trash-24.png" alt="delete" id="delete"></a>

          </td>
        </tr>
      </table>

    </div>


  </div>

</body>

</html>