<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin|Politico</title>
    <link rel="stylesheet" href="../css/offices.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="office-form">
            <h1>Add a New Political office</h1>
            <form action="">
                <input type="text" placeholder="Office Name" required>
                <br>
                <input type="submit" value="ADD OFFICE" id="submit">
            </form>
        </div>
    </div>
</body>

</html>