<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition|Politico</title>
    <link rel="stylesheet" href="../css/petition.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="politician.html" class="button" id="profile">Profile</a>
            <a href="../index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="apply-form">
            <h1>Create a petition against vote results</h1>
            <form action="">
                <input type="text" placeholder="Politician name" required>
                <input type="text" placeholder="Political party" required>
                <input type="text" placeholder="Office to run for" required>
                <input type="text" placeholder="Subject" required>
                <textarea id="petition" name="comment" placeholder="petition content" rows="7" cols="50"
                    required></textarea>
                <br>
                <input type="submit" value="SUBMIT" class="apply-button">
                <a href="politician.html"><button class="apply-button"> CANCEL </button></a>
            </form>

        </div>
    </div>
</body>

</html>
