<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politician|Politico</title>
    <link rel="stylesheet" href="../css/politician.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="../index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="left">
            <img src="../Images/download (2).png" alt="profile avatar">
            <P><strong>NAME:</strong> MARC CYUSA </P>
            <P><strong>SEX:</strong> M </P>
            <P><strong>BIRTH DATE:</strong> 17/MARCH/1980 </P>
            <P><strong>ID:</strong> 5546789 </P>
            <P><strong>ADDRESS:</strong> SOUTH </P>
            <P><strong>PARTY:</strong> DEMOCRATIC PARTY </P>

            <a href="#" id="edit">edit profile</a>

        </div>

        <div class="right">
            <div class="description">
                <h1>Welcome to Politico platform</h1>
                <p>Politico enables citizens to give their mandate to politicians running for different government
                    offices
                    while building trust in the process through transparency</p>
                <br>
                <a href="apply.html" id="apply">Apply to an office</a>
                <a href="petition.html">Create a petition against vote results</a>

            </div>
            <hr>
            <h4 id="activities"> ACTIVITIES</h4>
            <div class="vote-results">
                <h4>YOU APPLIED FOR THE FOLLOWING OFFICES: PARLIAMENT</h4>
                <h4 id="opponents">Opponents:</h4>
                <ul>
                    <li>SUZAN RIGHT / KORA PARTY </li>
                    <li>PETER VROOM / HIGA PARTY </li>
                </ul>
                <h4 id="opponents">RESULTS FROM THE VOTE:</h4>
                <input type="radio" name="WIN" checked="checked">WIN
                <input type="radio" name="LOSS">LOSS

            </div>

        </div>
</body>

</html>
