<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication|Politico</title>
    <link rel="stylesheet" href="../css/rp(authentication).css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="../index.html" class="button">Home</a>
        </div>
    </nav>
    <div class="container">
        <div class="form">
            <h1>Reset your password</h1>
            <p>Please enter the email connected to your account, a link will be sent to you. Once you have received the
                link, you will be able to choose a new password for your account.</p>
            <form action="">
                <input type="text" name="email" placeholder="Email" required>
                <br>
                <input type="submit" id="submit">
            </form>
        </div>
    </div>
</body>

</html>
