<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile|Politico</title>
    <link rel="stylesheet" href="../css/user_profile.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="index.html" class="button" id="parties">Parties</a>
            <a href="index.html" class="button" id="candidates">Candidates</a>
            <a href="index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="left">
            <img src="../Images/download (2).png" alt="profile avatar">
            <P><strong>NAME:</strong> FRIDA MUTESI </P>
            <P><strong>SEX:</strong> F </P>
            <P><strong>BIRTH DATE:</strong> 26/JUNE/1985 </P>
            <P><strong>ID:</strong> 6648235 </P>
            <P><strong>ADDRESS:</strong> WEST </P>

            <a href="" id="edit">edit profile</a>

        </div>

        <div class="right">
            <div class="description">
                <h1>Welcome to Politico platform</h1>
                <p>Politico enables citizens to give their mandate to politicians running for different government
                    offices
                    while building trust in the process through transparency</p>
                <br>
                <a href="#" id="vote">VOTE</a>
                <!-- <a href="#">Create a petition against vote results</a> -->

            </div>
            <hr>
            <h4 id="activities"> ACTIVITIES</h4>
            <div class="vote-results">
                <h4>*YOU VOTED FOR THE FOLLOWING CANDIDATE ON THE OFFICE: PRESIDENT</h4>
                <input type="radio" name="PRINCE" checked="checked">PRINCE MANZI / HIGA PARTY
                <input type="radio" name="LEONARD">LEONARD RUGIRA / KORA PARTY
                <input type="radio" name="JEANNE">JEANNE UWAMARIYA / DEMOCRATIC PARTY

                <h4>*YOU VOTED FOR THE FOLLOWING CANDIDATE ON THE OFFICE: SENATE</h4>
                <input type="radio" name="CECILE">CECILE KARANGWA / DEMOCRATIC PARTY
                <input type="radio" name="CELINE">CELINE MUKANKUSI / HIGA PARTY
                <input type="radio" name="PIERRE" checked="checked">PIERRE BYUSA / KORA PARTY

                <h4>*YOU VOTED FOR THE FOLLOWING CANDIDATE ON THE OFFICE: PARLIAMENT</h4>
                <input type="radio" name="MARC" checked="checked">MARC CYUSA / DEMOCRATIC PARTY
                <input type="radio" name="SUZAN">SUZAN RIGHT / KORA PARTY
                <input type="radio" name="PETER">PETER VROOM / HIGA PARTY

            </div>

        </div>
</body>

</html>