<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile|Politico</title>
    <link rel="stylesheet" href="../css/user_profile.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="Admin.html" class="button" id="parties">Parties</a>
            <a href="Admin.html" class="button" id="candidates">Candidates</a>
            <a href="index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="left">
            <img src="../Images/download (2).png" alt="profile avatar">
            <P><strong>NAME:</strong> FRIDA MUTESI </P>
            <P><strong>SEX:</strong> F </P>
            <P><strong>BIRTH DATE:</strong> 26/JUNE/1985 </P>
            <P><strong>ID:</strong> 6648235 </P>
            <P id="address"><strong>ADDRESS:</strong> WEST </P>

            <a href="edit_user.html" id="edit">edit profile</a>

        </div>

        <div class="right">
            <div class="description">
                <h1>Welcome to Politico platform</h1>
                <p>Politico enables citizens to give their mandate to politicians running for different government
                    offices
                    while building trust in the process through transparency</p>
                <br>
                <a href="vote.html" id="vote">VOTE</a>

            </div>
            <hr>
            <h4 id="activities"> ACTIVITIES</h4>
            <div class="vote-results">
                <h4>*YOU VOTED FOR THE FOLLOWING CANDIDATE*</h4>
                <br>
                <p id="president"><strong> PRESIDENT :</strong> PRINCE MANZI / HIGA PARTY</p>
                <p><strong> SENATE :</strong> CECILE KARANGWA / DEMOCRATIC PARTY</p>
                <p><strong> PARLIAMENT :</strong> MARC CYUSA / DEMOCRATIC PARTY</p>

            </div>

        </div>
</body>

</html>