<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views|Politico</title>
    <link rel="stylesheet" href="../css/Views.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="user_profile.html" class="button" id="profile">Profile</a>
            <a href="index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <a href=".table1" id="view_parties">View Political parties</a>


        <div class="hide">
            <table class="table1">

                <tr>
                    <th> LOGO</th>
                    <th> Party Name</th>
                </tr>

                <tr>
                    <td><img src="../Images/download.png" alt="logo" ;></td>
                    <td>
                        <h5> HIGA PARTY</h5>
                    </td>

                </tr>
                <tr>
                    <td><img src="../Images/other logo.png" alt="logo"></td>
                    <td>
                        <h5> KORA PARTY</h5>
                    </td>

                </tr>

                <tr>
                    <td><img src="../Images/pol logo.jpeg" alt="logo"></td>
                    <td>
                        <h5> DEMOCRATIC PARTY</h5>
                    </td>

                </tr>
            </table>

        </div>
        <hr>
        <a href=".table1" id="view_offices">View Government offices</a>
        <div class="hide">
            <table class="table1">

                <tr>
                    <th> Offices</th>
                    <th> Candidates/Party</th>
                </tr>

                <tr>
                    <td>
                        <h3>PRESIDENT</h3>
                    </td>
                    <td>
                        <ul>
                            <li><a href="">PRINCE MANZI / HIGA PARTY</a></li>
                            <li><a href="">LEONARD RUGIRA / KORA PARTY </a></li>
                            <li><a href="">JEANNE UWAMARIYA / DEMOCRATIC PARTY</a></li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h3>SENATE</h3>
                    </td>
                    <td>
                        <ul>
                            <li><a href="">CECILE KARANGWA / DEMOCRATIC PARTY</a></li>
                            <li><a href="">CELINE MUKANKUSI / HIGA PARTY</a></li>
                            <li><a href="">PIERRE BYUSA / KORA PARTY</a></li>
                        </ul>
                    </td>

                </tr>

                <tr>
                    <td>
                        <h3>PARLIAMENT</h3>
                    </td>
                    <td>
                        <ul>
                            <li><a href="">MARC CYUSA / DEMOCRATIC PARTY</a></li>
                            <li><a href="">SUZAN RIGHT / KORA PARTY</a></li>
                            <li><a href="">PETER VROOM / HIGA PARTY</a></li>
                        </ul>

                </tr>
            </table>

        </div>


    </div>

</body>

</html>