<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote|Politico</title>
    <link rel="stylesheet" href="../css/vote.css">
</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="user_profile.html" class="button" id="Profile">Profile</a>
            <a href="index.html" class="button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="description">
            <h1>Welcome to Politico platform</h1>
            <p>Politico enables citizens to give their mandate to politicians running for different government
                offices
                while building trust in the process through transparency</p>
            <p>Cast your votes on the boxes below. <br> You are allowed to vote one candidate per office</p>
        </div>
        <hr>
        <h4 id="activities"> CANDIDATES</h4>
        <div class="vote-results">
            <h4>*PRESIDENT OFFICE*</h4>
            <input type="radio" id="prince" name="president" value="prince">
            <label for="prince">PRINCE MANZI / HIGA PARTY</label>
            <input type="radio" id="leonard" name="president" value="leonard">
            <label for="leonard">LEONARD RUGIRA / KORA PARTY</label>
            <input type="radio" id="jeanne" name="president" value="jeanne">
            <label for="prince">JEANNE UWAMARIYA / DEMOCRATIC PARTY</label>

            <h4>*SENATE OFFICE*</h4>
            <input type="radio" id="cecile" name="senate" value="cecile">
            <label for="cecile">CECILE KARANGWA / DEMOCRATIC PARTY</label>
            <input type="radio" id="celine" name="senate" value="celine">
            <label for="celine">CELINE MUKANKUSI / HIGA PARTY</label>
            <input type="radio" id="pierre" name="senate" value="pierre">
            <label for="pierre">PIERRE BYUSA / KORA PARTY</label>

            <h4>*PARLIAMENT OFFICE*</h4>
            <input type="radio" id="marc" name="parliament" value="marc">
            <label for="marc">MARC CYUSA / DEMOCRATIC PARTY</label>
            <input type="radio" id="suzan" name="parliament" value="suzan">
            <label for="suzan">SUZAN RIGHT / KORA PARTY</label>
            <input type="radio" id="peter" name="parliament" value="peter">
            <label for="peter">PETER VROOM / HIGA PARTY</label>
            <br>
            <input type="submit" id="submit" value="SUBMIT">

        </div>

    </div>
</body>

</html>
