<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Politico</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./scripts/signin.js"></script>

</head>

<body>
    <nav>
        <div class="nav-bar">
            <h1>Politico</h1>
            <a href="signup.html" class="button">Sign up</a>
        </div>
    </nav>
    <div class="container">
        <div class="left">
            <img src="https://hackernoon.com/hn-images/1*Y8dmiLtZuA7fCgBxpM4XPw.gif" alt="digital vote picture">
        </div>

        <div class="right">
            <div class="description">
                <h1>Welcome to Politico platform</h1>
                <p>Politico enables citizens to give their mandate to politicians running for different government
                    offices
                    while building trust in the process through transparency</p>
                <br>
                <a href="#" onclick="unhide()">Get started</a>
            </div>
            <div id="login-form">
                <h1>Sign in to Politico</h1>
                <form action="">
                    <input type="text" placeholder="Email" required>
                    <br>
                    <input type="password" placeholder="Password" required>
                    <br>
                    <input type="submit" value="Sign In" id="signin">
                </form>
                <a href="rp(authentication).html">Forgot password?</a>
            </div>
        </div>
    </div>
</body>

</html>
